# Análsis Exploraotio de precios de compras y ventas Supermercado La Osa - Madrid

In [1]:
import pandas as pd
import seaborn as sn
import numpy as np
import matplotlib as ploty

### Importamos los datasets

In [2]:
#Datasets de compra de productos a proveedores 2021-2022
precio_enejun= pd.read_excel("Evolución_precio_enerojunio22.xls")
precio_juldic= pd.read_excel("Evolución_precio_juliodiciembre22.xls")
precio_2021= pd.read_excel("Price_history_2021.xls")
precio_2022= pd.read_excel("Price_history_122022.xls")

In [3]:
#Datasets de venta de productis al publico 2021-2022
ventas_2021= pd.read_excel("inflacion_osa_2021.xls")
ventas_2022= pd.read_excel("inflacion_osa_2022.xls")

In [4]:
precio_enejun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33361 entries, 0 to 33360
Data columns (total 8 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   External ID                                             21005 non-null  object
 1   Producto/Nombre                                         21005 non-null  object
 2   Coste                                                   21005 non-null  float64
 3   Fecha                                                   21005 non-null  datetime64[ns]
 4   Producto/Cuenta analítica para gastos/Nombre a mostrar  21005 non-null  object
 5   Producto/Referencia interna                             21005 non-null  float64
 6   Producto/Proveedores/Nombre a mostrar                   33361 non-null  object
 7   Producto/Categoría de producto/Nombre a mostrar         21005 non-null  object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 2.0+ MB

In [5]:
precios = pd.concat([precio_enejun,precio_juldic,precio_2021,precio_2022], ignore_index=True)
precios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119956 entries, 0 to 119955
Data columns (total 8 columns):
 #   Column                                                  Non-Null Count   Dtype
---  ------                                                  --------------   -----
 0   External ID                                             77054 non-null   object
 1   Producto/Nombre                                         77054 non-null   object
 2   Coste                                                   77054 non-null   float64
 3   Fecha                                                   77054 non-null   datetime64[ns]
 4   Producto/Cuenta analítica para gastos/Nombre a mostrar  77054 non-null   object
 5   Producto/Referencia interna                             77054 non-null   float64
 6   Producto/Proveedores/Nombre a mostrar                   119956 non-null  object
 7   Producto/Categoría de producto/Nombre a mostrar         77054 non-null   object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 7.3+ MB

In [6]:
#Checking For Null Values in Data
precios.isnull().sum(axis=0)

External ID                                               42902
Producto/Nombre                                           42902
Coste                                                     42902
Fecha                                                     42902
Producto/Cuenta analítica para gastos/Nombre a mostrar    42902
Producto/Referencia interna                               42902
Producto/Proveedores/Nombre a mostrar                         0
Producto/Categoría de producto/Nombre a mostrar           42902
dtype: int64

In [7]:
precios2 = precios.dropna(thresh=7)
precios2['Producto/Referencia interna'] =precios2['Producto/Referencia interna'].astype(int)
precios2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77054 entries, 0 to 119953
Data columns (total 8 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   External ID                                             77054 non-null  object
 1   Producto/Nombre                                         77054 non-null  object
 2   Coste                                                   77054 non-null  float64
 3   Fecha                                                   77054 non-null  datetime64[ns]
 4   Producto/Cuenta analítica para gastos/Nombre a mostrar  77054 non-null  object
 5   Producto/Referencia interna                             77054 non-null  int64
 6   Producto/Proveedores/Nombre a mostrar                   77054 non-null  object
 7   Producto/Categoría de producto/Nombre a mostrar         77054 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 5.3+ MB

/var/folders/ss/hj4zvr2n1bq4m0rs9tdnf0440000gn/T/ipykernel_32893/2481191600.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  precios2['Producto/Referencia interna'] =precios2['Producto/Referencia interna'].astype(int)

In [8]:
#Checking For Duplicated Rows in Data
precios2.duplicated().sum()

1036

In [9]:
precios3=precios2.drop_duplicates() #删除数据记录中所有列值相同的记录
precios3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76018 entries, 0 to 119950
Data columns (total 8 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   External ID                                             76018 non-null  object
 1   Producto/Nombre                                         76018 non-null  object
 2   Coste                                                   76018 non-null  float64
 3   Fecha                                                   76018 non-null  datetime64[ns]
 4   Producto/Cuenta analítica para gastos/Nombre a mostrar  76018 non-null  object
 5   Producto/Referencia interna                             76018 non-null  int64
 6   Producto/Proveedores/Nombre a mostrar                   76018 non-null  object
 7   Producto/Categoría de producto/Nombre a mostrar         76018 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 5.2+ MB

In [10]:
precios3.head(5)

,External ID,Producto/Nombre,Coste,Fecha,Producto/Cuenta analítica para gastos/Nombre a mostrar,Producto/Referencia interna,Producto/Proveedores/Nombre a mostrar,Producto/Categoría de producto/Nombre a mostrar
0,__export__.product_price_history_78926_abded360,Envase Veer 33cl,0.15,2022-06-29 21:10:50,Eco,1637,(VEER) MISSON S.COOP.CYL.,"Seco Envasado / Vinos, cervezas, sidras / Cerv..."
1,__export__.product_price_history_78925_30713b35,Envase Veer 33cl,0.15,2022-06-29 20:25:26,Eco,1637,(VEER) MISSON S.COOP.CYL.,"Seco Envasado / Vinos, cervezas, sidras / Cerv..."
2,__export__.product_price_history_78916_73aa1b21,Fuet extra Biobardales 200 gr,2.95,2022-06-29 19:22:59,Eco,597,(BIOBARDALES) COMERCIAL BELDREA S.L.,Resto Producto Fresco / Charcutería animal / E...
3,__export__.product_price_history_78919_197ec6c0,"Preparado para legumbres chorizo, morcilla, pa...",2.90,2022-06-29 19:22:59,Eco,1252,(BIOBARDALES) COMERCIAL BELDREA S.L.,Resto Producto Fresco / Charcutería animal / E...
4,__export__.product_price_history_78918_c43ac4cb,Lomo extra lonchas Biobardales 100 gr,3.45,2022-06-29 19:22:59,Eco,877,(BIOBARDALES) COMERCIAL BELDREA S.L.,Resto Producto Fresco / Charcutería animal / E...

In [11]:
precios3.shape

(76018, 8)

In [12]:
precios3.describe()

              Coste  Producto/Referencia interna
count  76018.000000                 76018.000000
mean       3.027626                  2750.053711
std        3.503690                  1746.733376
min        0.000000                     5.000000
25%        1.380000                  1113.000000
50%        2.030000                  2780.000000
75%        3.150000                  4232.000000
max      156.000000                  6518.000000

In [13]:
precios3.rename(columns=lambda x: x.replace(' ', '_').replace('-', '_'), inplace=True)
precios3.columns

/var/folders/ss/hj4zvr2n1bq4m0rs9tdnf0440000gn/T/ipykernel_32893/3689246809.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  precios3.rename(columns=lambda x: x.replace(' ', '_').replace('-', '_'), inplace=True)

Index(['External_ID', 'Producto/Nombre', 'Coste', 'Fecha',
       'Producto/Cuenta_analítica_para_gastos/Nombre_a_mostrar',
       'Producto/Referencia_interna', 'Producto/Proveedores/Nombre_a_mostrar',
       'Producto/Categoría_de_producto/Nombre_a_mostrar'],
      dtype='object')

In [14]:
precios3.dtypes

External_ID                                                       object
Producto/Nombre                                                   object
Coste                                                            float64
Fecha                                                     datetime64[ns]
Producto/Cuenta_analítica_para_gastos/Nombre_a_mostrar            object
Producto/Referencia_interna                                        int64
Producto/Proveedores/Nombre_a_mostrar                             object
Producto/Categoría_de_producto/Nombre_a_mostrar                   object
dtype: object

In [15]:
precios3['Year'] = precios3['Fecha'].dt.year
precios3['Month'] = precios3['Fecha'].dt.month
precios3['Day'] = precios3['Fecha'].values.astype('datetime64[ns]')
precios3[['Year', 'Month','Day']].head(5)

/var/folders/ss/hj4zvr2n1bq4m0rs9tdnf0440000gn/T/ipykernel_32893/3051049538.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  precios3['Year'] = precios3['Fecha'].dt.year
/var/folders/ss/hj4zvr2n1bq4m0rs9tdnf0440000gn/T/ipykernel_32893/3051049538.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  precios3['Month'] = precios3['Fecha'].dt.month
/var/folders/ss/hj4zvr2n1bq4m0rs9tdnf0440000gn/T/ipykernel_32893/3051049538.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  precios3['Day'] = precios3['Fecha'].values.astype('datetime64[ns]')

   Year  Month                 Day
0  2022      6 2022-06-29 21:10:50
1  2022      6 2022-06-29 20:25:26
2  2022      6 2022-06-29 19:22:59
3  2022      6 2022-06-29 19:22:59
4  2022      6 2022-06-29 19:22:59