# Análsis Exploraotio de precios de compras y ventas Supermercado La Osa - Madrid

In [2]:
import pandas as pd
import seaborn as sn
import numpy as np
import matplotlib as ploty

### Importamos los datasets

In [81]:
#Datasets de compra de productos a proveedores 2021-2022
precio_enejun= pd.read_excel("Evolución_precio_enerojunio22.xls")
precio_juldic= pd.read_excel("Evolución_precio_juliodiciembre22.xls")
precio_2021= pd.read_excel("Price_history_2021.xls")
precio_2022= pd.read_excel("Price_history_122022.xls")

In [97]:
#Datasets de venta de productis al publico 2021-2022
ventas_2021= pd.read_excel("inflacion_osa_2021.xls")
ventas_2022= pd.read_excel("inflacion_osa_2022.xls")

### Exploramos los datasets de precio
* `Price_history_122022.xls` -->Hay información de Diciembre del 2022, la cual aparentemente ya está en el archivo `Evolución_precio_juliodiciembre22.xls`
* Tenemos que corroborar si esta es informacion adicional del mes de Diciembre del 2022 o es información duplicada (Preguntar al Stakeholder)
* El supermercado comenzó en el año 2020 --> Preguntar si hay información de Dicembre 2020
* ¿Puede haber erro en los nombres de los archivos?

### Precios de Compra de Productos a Proveedores
* Se revisan los archivos:

`Evolución_precio_enerojunio22.xls` 

`Evolución_precio_juliodiciembre22.xls`

`Price_history_2021.xls`

`Price_history_122022.xls`

In [11]:
precio_enejun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33361 entries, 0 to 33360
Data columns (total 8 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   External ID                                             21005 non-null  object
 1   Producto/Nombre                                         21005 non-null  object
 2   Coste                                                   21005 non-null  float64
 3   Fecha                                                   21005 non-null  datetime64[ns]
 4   Producto/Cuenta analítica para gastos/Nombre a mostrar  21005 non-null  object
 5   Producto/Referencia interna                             21005 non-null  float64
 6   Producto/Proveedores/Nombre a mostrar                   33361 non-null  object
 7   Producto/Categoría de producto/Nombre a mostrar         21005 non-null  object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 2.0+ MB

In [15]:
precio_juldic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24783 entries, 0 to 24782
Data columns (total 8 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   External ID                                             16217 non-null  object
 1   Producto/Nombre                                         16217 non-null  object
 2   Coste                                                   16217 non-null  float64
 3   Fecha                                                   16217 non-null  datetime64[ns]
 4   Producto/Cuenta analítica para gastos/Nombre a mostrar  16217 non-null  object
 5   Producto/Referencia interna                             16217 non-null  float64
 6   Producto/Proveedores/Nombre a mostrar                   24783 non-null  object
 7   Producto/Categoría de producto/Nombre a mostrar         16217 non-null  object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 1.5+ MB

In [49]:
precio_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57558 entries, 0 to 57557
Data columns (total 8 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   External ID                                             37023 non-null  object
 1   Producto/Nombre                                         37023 non-null  object
 2   Coste                                                   37023 non-null  float64
 3   Fecha                                                   37023 non-null  datetime64[ns]
 4   Producto/Cuenta analítica para gastos/Nombre a mostrar  37023 non-null  object
 5   Producto/Referencia interna                             37023 non-null  float64
 6   Producto/Proveedores/Nombre a mostrar                   57558 non-null  object
 7   Producto/Categoría de producto/Nombre a mostrar         37023 non-null  object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 3.5+ MB

In [51]:
precio_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4254 entries, 0 to 4253
Data columns (total 8 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   External ID                                             2809 non-null   object
 1   Producto/Nombre                                         2809 non-null   object
 2   Coste                                                   2809 non-null   float64
 3   Fecha                                                   2809 non-null   datetime64[ns]
 4   Producto/Cuenta analítica para gastos/Nombre a mostrar  2809 non-null   object
 5   Producto/Referencia interna                             2809 non-null   float64
 6   Producto/Proveedores/Nombre a mostrar                   4254 non-null   object
 7   Producto/Categoría de producto/Nombre a mostrar         2809 non-null   object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 266.0+ KB

> #### Los 4 archivos de precios de compra tienen las mismas 8 columnas.
> #### Se concatenarán los 4 archivos en un solo dataframe `precios_compra_2022` para su manipulación.

> #### Las columnas o variables:

* External ID
* Producto/Nombre
* Coste
* Fecha
* Producto/Cuenta analítica para gastos/Nombre a mostrar
* Producto/Referencia interna
* Producto/Proveedores/Nombre a mostrar
* Producto/Categoría de producto/Nombre a mostrar

In [69]:
precios_compra_2022 = pd.concat([precio_enejun, precio_juldic,precio_2021,precio_2021])
precios_compra_2022.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 173260 entries, 0 to 57557
Data columns (total 8 columns):
 #   Column                                                  Non-Null Count   Dtype
---  ------                                                  --------------   -----
 0   External ID                                             111268 non-null  object
 1   Producto/Nombre                                         111268 non-null  object
 2   Coste                                                   111268 non-null  float64
 3   Fecha                                                   111268 non-null  datetime64[ns]
 4   Producto/Cuenta analítica para gastos/Nombre a mostrar  111268 non-null  object
 5   Producto/Referencia interna                             111268 non-null  float64
 6   Producto/Proveedores/Nombre a mostrar                   173260 non-null  object
 7   Producto/Categoría de producto/Nombre a mostrar         111268 non-null  object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 11.9+ MB

In [70]:
precios_compra_2022.columns

Index(['External ID', 'Producto/Nombre', 'Coste', 'Fecha',
       'Producto/Cuenta analítica para gastos/Nombre a mostrar',
       'Producto/Referencia interna', 'Producto/Proveedores/Nombre a mostrar',
       'Producto/Categoría de producto/Nombre a mostrar'],
      dtype='object')

### Renombramos las columnas para que sea más fácil su manipulación

In [71]:
precios_compra_2022.rename(columns={'External ID':'External_ID',
                              'Producto/Nombre':'Producto_nombre', 
                              'Coste':'Coste',
                             'Fecha':'Fecha', 
                              'Producto/Cuenta analítica para gastos/Nombre a mostrar':'Producto_nombre_publico',
                             'Producto/Referencia interna':'Producto_Referencia_interna', 
                              'Producto/Proveedores/Nombre a mostrar':'Producto_Proveedores_publico',
                              'Producto/Categoría de producto/Nombre a mostrar':'Producto_Categoría_publico'
                             }, inplace=True)

In [72]:
precios_compra_2022.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 173260 entries, 0 to 57557
Data columns (total 8 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   External_ID                   111268 non-null  object
 1   Producto_nombre               111268 non-null  object
 2   Coste                         111268 non-null  float64
 3   Fecha                         111268 non-null  datetime64[ns]
 4   Producto_nombre_publico       111268 non-null  object
 5   Producto_Referencia_interna   111268 non-null  float64
 6   Producto_Proveedores_publico  173260 non-null  object
 7   Producto_Categoría_publico    111268 non-null  object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 11.9+ MB

### Revisamos que si hay valores duplicados en los dataset de compra de productos para el mes de Diciembre de 2022.

In [61]:
precios_compra_2022[precios_compra_2022['Producto_nombre']=='Yogur desnatado vainilla Casa grande xanceda 2 x 125 g']

,External_ID,Producto_nombre,Coste,Fecha,Producto_nombre_publico,Producto_Refint,Producto_Proveedores_publico,Producto_Categoría_publico
1578,__export__.product_price_history_77812_27d7d769,Yogur desnatado vainilla Casa grande xanceda 2...,1.45,2022-06-21 10:47:34,Eco,1559.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
1627,__export__.product_price_history_77785_e20a0bfa,Yogur desnatado vainilla Casa grande xanceda 2...,1.45,2022-06-21 09:18:18,Eco,1559.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
4142,__export__.product_price_history_76286_874cf258,Yogur desnatado vainilla Casa grande xanceda 2...,1.45,2022-06-07 19:21:58,Eco,1559.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
6484,__export__.product_price_history_74757_1a0cf488,Yogur desnatado vainilla Casa grande xanceda 2...,1.45,2022-05-24 18:10:53,Eco,1559.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
8751,__export__.product_price_history_73353_6e898abd,Yogur desnatado vainilla Casa grande xanceda 2...,1.45,2022-05-10 12:14:32,Eco,1559.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
...,...,...,...,...,...,...,...,...
45168,__export__.product_price_history_27220_a88bb48a,Yogur desnatado vainilla Casa grande xanceda 2...,1.45,2021-03-24 09:31:04,Eco,1559.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
47545,__export__.product_price_history_25658_0963d74f,Yogur desnatado vainilla Casa grande xanceda 2...,1.45,2021-03-10 09:57:37,Eco,1559.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
48590,__export__.product_price_history_24956_2f82915f,Yogur desnatado vainilla Casa grande xanceda 2...,1.45,2021-03-02 12:11:16,Eco,1559.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
50411,__export__.product_price_history_23664_d513e609,Yogur desnatado vainilla Casa grande xanceda 2...,1.45,2021-02-17 10:48:40,Eco,1559.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
52632,__export__.product_price_history_20750_5ef29dee,Yogur desnatado vainilla Casa grande xanceda 2...,1.45,2021-02-04 14:38:32,Eco,1559.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."

In [73]:
precios_compra_2022.describe()

               Coste  Producto_Referencia_interna
count  111268.000000                111268.000000
mean        2.963484                  2678.294640
std         3.425243                  1691.079528
min         0.000000                     5.000000
25%         1.350000                  1113.000000
50%         2.010000                  2668.000000
75%         3.100000                  4087.000000
max       156.000000                  6499.000000

In [74]:
precios_compra_2022.dtypes

External_ID                             object
Producto_nombre                         object
Coste                                  float64
Fecha                           datetime64[ns]
Producto_nombre_publico                 object
Producto_Referencia_interna            float64
Producto_Proveedores_publico            object
Producto_Categoría_publico              object
dtype: object

In [75]:
precios_compra_2022.head(5)

,External_ID,Producto_nombre,Coste,Fecha,Producto_nombre_publico,Producto_Referencia_interna,Producto_Proveedores_publico,Producto_Categoría_publico
0,__export__.product_price_history_78926_abded360,Envase Veer 33cl,0.15,2022-06-29 21:10:50,Eco,1637.0,(VEER) MISSON S.COOP.CYL.,"Seco Envasado / Vinos, cervezas, sidras / Cerv..."
1,__export__.product_price_history_78925_30713b35,Envase Veer 33cl,0.15,2022-06-29 20:25:26,Eco,1637.0,(VEER) MISSON S.COOP.CYL.,"Seco Envasado / Vinos, cervezas, sidras / Cerv..."
2,__export__.product_price_history_78916_73aa1b21,Fuet extra Biobardales 200 gr,2.95,2022-06-29 19:22:59,Eco,597.0,(BIOBARDALES) COMERCIAL BELDREA S.L.,Resto Producto Fresco / Charcutería animal / E...
3,__export__.product_price_history_78919_197ec6c0,"Preparado para legumbres chorizo, morcilla, pa...",2.90,2022-06-29 19:22:59,Eco,1252.0,(BIOBARDALES) COMERCIAL BELDREA S.L.,Resto Producto Fresco / Charcutería animal / E...
4,__export__.product_price_history_78918_c43ac4cb,Lomo extra lonchas Biobardales 100 gr,3.45,2022-06-29 19:22:59,Eco,877.0,(BIOBARDALES) COMERCIAL BELDREA S.L.,Resto Producto Fresco / Charcutería animal / E...

In [94]:
ventas_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3876 entries, 0 to 3875
Data columns (total 29 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Producto_Referencia_interna  3876 non-null   object
 1   Producto_nombre              3876 non-null   object
 2   enero_units                  1904 non-null   float64
 3   enero_precio                 1904 non-null   float64
 4   febrero_units                2064 non-null   float64
 5   febrero_precio               2064 non-null   float64
 6   marzo_units                  2248 non-null   float64
 7   marzo_precio                 2248 non-null   float64
 8   abril_units                  2324 non-null   float64
 9   abril_precio                 2324 non-null   float64
 10  mayo_units                   2378 non-null   float64
 11  mayo_precio                  2378 non-null   float64
 12  junio_units                  2482 non-null   float64
 13  junio_precio                 2482 non-null   float64
 14  julio_units                  2462 non-null   float64
 15  julio_precio                 2462 non-null   float64
 16  agosto_units                 2261 non-null   float64
 17  agosto_precio                2261 non-null   float64
 18  septiembre_units             2539 non-null   float64
 19  septiembre_precio            2539 non-null   float64
 20  octubre_units                2596 non-null   float64
 21  octubre_precio               2596 non-null   float64
 22  noviembre_units              2677 non-null   float64
 23  noviembre_precio             2677 non-null   float64
 24  diciembre_units              2745 non-null   float64
 25  diciembre_precio             2745 non-null   float64
 26  Unidades_vendidas            3876 non-null   float64
 27  Coste_medio                  3876 non-null   float64
 28  Año                          3876 non-null   int64
dtypes: float64(26), int64(1), object(2)
memory usage: 878.3+ KB

In [77]:
ventas_2021.head()

,Unnamed: 0,Total,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,NaN,enero 2021,NaN,febrero 2021,NaN,marzo 2021,NaN,abril 2021,NaN,mayo 2021,...,septiembre 2021,NaN,octubre 2021,NaN,noviembre 2021,NaN,diciembre 2021,NaN,NaN,NaN
1,NaN,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,...,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio
2,Total,22238.75,3.241511,26905.815,3.217539,29978.455,3.259158,28332.157,3.391073,25373.829,...,25386.211,3.38311,28317.427,3.581475,28297.971,3.822941,28992.494,3.974771,309315.499,3.484218
3,[000007] Aceite árnica y romero Piel sana...,NaN,NaN,1,11.7,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,11.7
4,[000008] Aceite caléndula y almendras Pie...,2,12.5,NaN,NaN,1,12.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,12.5

## ASPECTOS ESENCIALES
### 1. Analisis exploratorio de los datos
### 2. Visualizacion de los datos en una herramienta interactiva de facil utilizacion



## ASPECTOS OPCIONALES
### 1. Predecir los valores de venta y /o de inflacion para los siguiente meses (o año)
### 2. Analisis de series temporales

In [98]:
ventas_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3876 entries, 0 to 3875
Data columns (total 29 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Producto_Referencia_interna  3876 non-null   object
 1   Producto_nombre              3876 non-null   object
 2   enero_units                  1904 non-null   float64
 3   enero_precio                 1904 non-null   float64
 4   febrero_units                2064 non-null   float64
 5   febrero_precio               2064 non-null   float64
 6   marzo_units                  2248 non-null   float64
 7   marzo_precio                 2248 non-null   float64
 8   abril_units                  2324 non-null   float64
 9   abril_precio                 2324 non-null   float64
 10  mayo_units                   2378 non-null   float64
 11  mayo_precio                  2378 non-null   float64
 12  junio_units                  2482 non-null   float64
 13  junio_precio                 2482 non-null   float64
 14  julio_units                  2462 non-null   float64
 15  julio_precio                 2462 non-null   float64
 16  agosto_units                 2261 non-null   float64
 17  agosto_precio                2261 non-null   float64
 18  septiembre_units             2539 non-null   float64
 19  septiembre_precio            2539 non-null   float64
 20  octubre_units                2596 non-null   float64
 21  octubre_precio               2596 non-null   float64
 22  noviembre_units              2677 non-null   float64
 23  noviembre_precio             2677 non-null   float64
 24  diciembre_units              2745 non-null   float64
 25  diciembre_precio             2745 non-null   float64
 26  Unidades_vendidas            3876 non-null   float64
 27  Precio_medio                 3876 non-null   float64
 28  Año                          3876 non-null   int64
dtypes: float64(26), int64(1), object(2)
memory usage: 878.3+ KB

In [99]:
ventas_2021.head(10)

,Producto_Referencia_interna,Producto_nombre,enero_units,enero_precio,febrero_units,febrero_precio,marzo_units,marzo_precio,abril_units,abril_precio,...,septiembre_precio,octubre_units,octubre_precio,noviembre_units,noviembre_precio,diciembre_units,diciembre_precio,Unidades_vendidas,Precio_medio,Año
0,[000007],Aceite árnica y romero Piel sana 100 ml,NaN,NaN,1.0,11.70,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,11.70,2021
1,[000008],Aceite caléndula y almendras Piel sana 100 ml,2.0,12.5,NaN,NaN,1.0,12.50,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,12.50,2021
2,[000009],Aceite coco Maya gold 450 ml,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.00,2.0,8.00,2.0,8.00,2.0,8.00,18.0,8.00,2021
3,[000010],Aceite desmaquillador Piel sana 100 ml,NaN,NaN,1.0,12.50,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,12.50,2021
4,[000011],Aceite espliego y rosas Piel sana 100 ml,4.0,12.5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,12.50,2021
5,[000012],Aceite ginkgo y abedul Piel sana 100 ml,NaN,NaN,0.0,12.50,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,12.50,2021
6,[000013],Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN,2.0,4.15,4.0,4.15,8.0,4.15,...,4.15,1.0,4.15,3.0,4.15,2.0,4.15,32.0,4.15,2021
7,[000015],Aceite oliva virgen extra Gumendi 2 L,NaN,NaN,NaN,NaN,0.0,17.35,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,17.35,2021
8,[000016],Aceite oliva virgen extra Gumendi 5 L,NaN,NaN,NaN,NaN,NaN,NaN,1.0,41.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,41.55,2021
9,[000018],Aceite oliva virgen extra Umbria Oretana 2.5 L,9.0,18.5,14.0,18.50,6.0,18.50,4.0,18.50,...,18.50,5.0,18.50,2.0,18.50,9.0,18.50,72.0,18.50,2021

In [100]:
ventas_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3934 entries, 0 to 3933
Data columns (total 29 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Producto_Referencia_interna  3934 non-null   object
 1   Producto_nombre              3934 non-null   object
 2   enero_units                  2720 non-null   float64
 3   enero_precio                 2720 non-null   float64
 4   febrero_units                2659 non-null   float64
 5   febrero_precio               2659 non-null   float64
 6   marzo_units                  2747 non-null   float64
 7   marzo_precio                 2747 non-null   float64
 8   abril_units                  2738 non-null   float64
 9   abril_precio                 2738 non-null   float64
 10  mayo_units                   2665 non-null   float64
 11  mayo_precio                  2665 non-null   float64
 12  junio_units                  2602 non-null   float64
 13  junio_precio                 2602 non-null   float64
 14  julio_units                  2523 non-null   float64
 15  julio_precio                 2523 non-null   float64
 16  agosto_units                 2358 non-null   float64
 17  agosto_precio                2358 non-null   float64
 18  septiembre_units             2604 non-null   float64
 19  septiembre_precio            2604 non-null   float64
 20  octubre_units                2611 non-null   float64
 21  octubre_precio               2611 non-null   float64
 22  noviembre_units              2641 non-null   float64
 23  noviembre_precio             2641 non-null   float64
 24  diciembre_units              2717 non-null   float64
 25  diciembre_precio             2717 non-null   float64
 26  Unidades_vendidas            3934 non-null   float64
 27  Precio_medio                 3934 non-null   float64
 28  Año                          3934 non-null   int64
dtypes: float64(26), int64(1), object(2)
memory usage: 891.4+ KB

In [101]:
ventas_2021.head(10)

,Producto_Referencia_interna,Producto_nombre,enero_units,enero_precio,febrero_units,febrero_precio,marzo_units,marzo_precio,abril_units,abril_precio,...,septiembre_precio,octubre_units,octubre_precio,noviembre_units,noviembre_precio,diciembre_units,diciembre_precio,Unidades_vendidas,Precio_medio,Año
0,[000007],Aceite árnica y romero Piel sana 100 ml,NaN,NaN,1.0,11.70,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,11.70,2021
1,[000008],Aceite caléndula y almendras Piel sana 100 ml,2.0,12.5,NaN,NaN,1.0,12.50,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,12.50,2021
2,[000009],Aceite coco Maya gold 450 ml,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.00,2.0,8.00,2.0,8.00,2.0,8.00,18.0,8.00,2021
3,[000010],Aceite desmaquillador Piel sana 100 ml,NaN,NaN,1.0,12.50,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,12.50,2021
4,[000011],Aceite espliego y rosas Piel sana 100 ml,4.0,12.5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,12.50,2021
5,[000012],Aceite ginkgo y abedul Piel sana 100 ml,NaN,NaN,0.0,12.50,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,12.50,2021
6,[000013],Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN,2.0,4.15,4.0,4.15,8.0,4.15,...,4.15,1.0,4.15,3.0,4.15,2.0,4.15,32.0,4.15,2021
7,[000015],Aceite oliva virgen extra Gumendi 2 L,NaN,NaN,NaN,NaN,0.0,17.35,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,17.35,2021
8,[000016],Aceite oliva virgen extra Gumendi 5 L,NaN,NaN,NaN,NaN,NaN,NaN,1.0,41.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,41.55,2021
9,[000018],Aceite oliva virgen extra Umbria Oretana 2.5 L,9.0,18.5,14.0,18.50,6.0,18.50,4.0,18.50,...,18.50,5.0,18.50,2.0,18.50,9.0,18.50,72.0,18.50,2021

### Se concatenan los dos datasets de productos vendidos en el 2021 y 2022

In [102]:
precios_ventas = pd.concat([ventas_2021, ventas_2022])
precios_ventas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7810 entries, 0 to 3933
Data columns (total 29 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Producto_Referencia_interna  7810 non-null   object
 1   Producto_nombre              7810 non-null   object
 2   enero_units                  4624 non-null   float64
 3   enero_precio                 4624 non-null   float64
 4   febrero_units                4723 non-null   float64
 5   febrero_precio               4723 non-null   float64
 6   marzo_units                  4995 non-null   float64
 7   marzo_precio                 4995 non-null   float64
 8   abril_units                  5062 non-null   float64
 9   abril_precio                 5062 non-null   float64
 10  mayo_units                   5043 non-null   float64
 11  mayo_precio                  5043 non-null   float64
 12  junio_units                  5084 non-null   float64
 13  junio_precio                 5084 non-null   float64
 14  julio_units                  4985 non-null   float64
 15  julio_precio                 4985 non-null   float64
 16  agosto_units                 4619 non-null   float64
 17  agosto_precio                4619 non-null   float64
 18  septiembre_units             5143 non-null   float64
 19  septiembre_precio            5143 non-null   float64
 20  octubre_units                5207 non-null   float64
 21  octubre_precio               5207 non-null   float64
 22  noviembre_units              5318 non-null   float64
 23  noviembre_precio             5318 non-null   float64
 24  diciembre_units              5462 non-null   float64
 25  diciembre_precio             5462 non-null   float64
 26  Unidades_vendidas            7810 non-null   float64
 27  Precio_medio                 7810 non-null   float64
 28  Año                          7810 non-null   int64
dtypes: float64(26), int64(1), object(2)
memory usage: 1.8+ MB

In [103]:
precios_ventas.isnull().sum()

Producto_Referencia_interna       0
Producto_nombre                   0
enero_units                    3186
enero_precio                   3186
febrero_units                  3087
febrero_precio                 3087
marzo_units                    2815
marzo_precio                   2815
abril_units                    2748
abril_precio                   2748
mayo_units                     2767
mayo_precio                    2767
junio_units                    2726
junio_precio                   2726
julio_units                    2825
julio_precio                   2825
agosto_units                   3191
agosto_precio                  3191
septiembre_units               2667
septiembre_precio              2667
octubre_units                  2603
octubre_precio                 2603
noviembre_units                2492
noviembre_precio               2492
diciembre_units                2348
diciembre_precio               2348
Unidades_vendidas                 0
Precio_medio                      0
Año                               0
dtype: int64

## Asunciones de la primer reunión con el stakeholder
* #### ¿A que precio compra la OSA sus productos?
* #### ¿Hay algun producto, categoria o proveedor que los precios sean mas altos?
* #### ¿Cual es la implicacion en la canasta del comprador, la subida de precios de los productos que compra la Osa?
* #### Analizar los productos que mas se consumen en la cesta familiar y su precio (de compra y venta?)
* #### Variacion de los precios de cada producto y cada categoría
* #### ¿Cómo afecta esta variación de los productos en la compra de los usuarios?
* #### Agrupar las comnpras por tipos de productos, categorías, tipo de comprador

## Se rellenan todos los nulos de las ventas con ceros --> de acuerdo a la reunion con el stakeholder

In [104]:
precios_ventas.fillna(0)

,Producto_Referencia_interna,Producto_nombre,enero_units,enero_precio,febrero_units,febrero_precio,marzo_units,marzo_precio,abril_units,abril_precio,...,septiembre_precio,octubre_units,octubre_precio,noviembre_units,noviembre_precio,diciembre_units,diciembre_precio,Unidades_vendidas,Precio_medio,Año
0,[000007],Aceite árnica y romero Piel sana 100 ml,0.0,0.0,1.0,11.7,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.00,1.00,11.70,2021
1,[000008],Aceite caléndula y almendras Piel sana 100 ml,2.0,12.5,0.0,0.0,1.0,12.5,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.00,5.00,12.50,2021
2,[000009],Aceite coco Maya gold 450 ml,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.0,2.0,8.0,2.0,8.0,2.00,8.00,18.00,8.00,2021
3,[000010],Aceite desmaquillador Piel sana 100 ml,0.0,0.0,1.0,12.5,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.00,1.00,12.50,2021
4,[000011],Aceite espliego y rosas Piel sana 100 ml,4.0,12.5,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.00,4.00,12.50,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3929,[006511],Láminas lasagña de sémola Castagno 500 g,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.00,3.35,2.00,3.35,2022
3930,[006515],Yogur de avena natural Alpro 500 gr,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.00,2.85,1.00,2.85,2022
3931,[006516],Yogur de coco natural Alpro 350 gr,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.00,2.85,1.00,2.85,2022
3932,[006518],Yogur vegetal con arandanos Alpro 500 gr,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.00,2.85,1.00,2.85,2022
3933,[6499] P,ularda Sanchonar aprox 3 kg,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.84,13.75,11.84,13.75,2022