# Análsis Exploraotio de precios de compras y ventas Supermercado La Osa - Madrid

In [2]:
import pandas as pd
import seaborn as sn
import numpy as np
import matplotlib as ploty

### Importamos los datasets

In [55]:
#Datasets de compra de productos a proveedores 2021-2022
precio_enejun= pd.read_excel("Evolución_precio_enerojunio22.xls")
precio_juldic= pd.read_excel("Evolución_precio_juliodiciembre22.xls")
precio_2021= pd.read_excel("Price_history_2021.xls")
precio_2022= pd.read_excel("Price_history_122022.xls")

#Datasets de venta de productis al publico 2021-2022
ventas_2021= pd.read_excel("Ventas_PVP_inflación_2021.xls")
ventas_2022= pd.read_excel("Ventas_PVP_inflación_2022.xls")

### Exploramos los datasets de precio
* `Price_history_122022.xls` -->Hay información de Diciembre del 2022, la cual aparentemente ya está en el archivo `Evolución_precio_juliodiciembre22.xls`
* Tenemos que corroborar si esta es informacion adicional del mes de Diciembre del 2022 o es información duplicada (Preguntar al Stakeholder)
* El supermercado comenzó en el año 2020 --> Preguntar si hay información de Dicembre 2020
* ¿Puede haber erro en los nombres de los archivos?

### Precios de Compra de Productos a Proveedores
* Se revisan los archivos:

`Evolución_precio_enerojunio22.xls` 

`Evolución_precio_juliodiciembre22.xls`

`Price_history_2021.xls`

`Price_history_122022.xls`

In [11]:
precio_enejun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33361 entries, 0 to 33360
Data columns (total 8 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   External ID                                             21005 non-null  object
 1   Producto/Nombre                                         21005 non-null  object
 2   Coste                                                   21005 non-null  float64
 3   Fecha                                                   21005 non-null  datetime64[ns]
 4   Producto/Cuenta analítica para gastos/Nombre a mostrar  21005 non-null  object
 5   Producto/Referencia interna                             21005 non-null  float64
 6   Producto/Proveedores/Nombre a mostrar                   33361 non-null  object
 7   Producto/Categoría de producto/Nombre a mostrar         21005 non-null  object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 2.0+ MB

In [15]:
precio_juldic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24783 entries, 0 to 24782
Data columns (total 8 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   External ID                                             16217 non-null  object
 1   Producto/Nombre                                         16217 non-null  object
 2   Coste                                                   16217 non-null  float64
 3   Fecha                                                   16217 non-null  datetime64[ns]
 4   Producto/Cuenta analítica para gastos/Nombre a mostrar  16217 non-null  object
 5   Producto/Referencia interna                             16217 non-null  float64
 6   Producto/Proveedores/Nombre a mostrar                   24783 non-null  object
 7   Producto/Categoría de producto/Nombre a mostrar         16217 non-null  object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 1.5+ MB

In [49]:
precio_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57558 entries, 0 to 57557
Data columns (total 8 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   External ID                                             37023 non-null  object
 1   Producto/Nombre                                         37023 non-null  object
 2   Coste                                                   37023 non-null  float64
 3   Fecha                                                   37023 non-null  datetime64[ns]
 4   Producto/Cuenta analítica para gastos/Nombre a mostrar  37023 non-null  object
 5   Producto/Referencia interna                             37023 non-null  float64
 6   Producto/Proveedores/Nombre a mostrar                   57558 non-null  object
 7   Producto/Categoría de producto/Nombre a mostrar         37023 non-null  object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 3.5+ MB

In [51]:
precio_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4254 entries, 0 to 4253
Data columns (total 8 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   External ID                                             2809 non-null   object
 1   Producto/Nombre                                         2809 non-null   object
 2   Coste                                                   2809 non-null   float64
 3   Fecha                                                   2809 non-null   datetime64[ns]
 4   Producto/Cuenta analítica para gastos/Nombre a mostrar  2809 non-null   object
 5   Producto/Referencia interna                             2809 non-null   float64
 6   Producto/Proveedores/Nombre a mostrar                   4254 non-null   object
 7   Producto/Categoría de producto/Nombre a mostrar         2809 non-null   object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 266.0+ KB

> #### Los 4 archivos de precios de compra tienen las mismas 8 columnas.
> #### Se concatenarán los 4 archivos en un solo dataframe `precios_compra_2022` para su manipulación.

> #### Las columnas o variables:

* External ID
* Producto/Nombre
* Coste
* Fecha
* Producto/Cuenta analítica para gastos/Nombre a mostrar
* Producto/Referencia interna
* Producto/Proveedores/Nombre a mostrar
* Producto/Categoría de producto/Nombre a mostrar

In [56]:
precios_compra_2022 = pd.concat([precio_enejun, precio_juldic,precio_2021,precio_2021])
precios_compra_2022.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 173260 entries, 0 to 57557
Data columns (total 8 columns):
 #   Column                                                  Non-Null Count   Dtype
---  ------                                                  --------------   -----
 0   External ID                                             111268 non-null  object
 1   Producto/Nombre                                         111268 non-null  object
 2   Coste                                                   111268 non-null  float64
 3   Fecha                                                   111268 non-null  datetime64[ns]
 4   Producto/Cuenta analítica para gastos/Nombre a mostrar  111268 non-null  object
 5   Producto/Referencia interna                             111268 non-null  float64
 6   Producto/Proveedores/Nombre a mostrar                   173260 non-null  object
 7   Producto/Categoría de producto/Nombre a mostrar         111268 non-null  object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 11.9+ MB

In [57]:
precios_compra_2022.columns

Index(['External ID', 'Producto/Nombre', 'Coste', 'Fecha',
       'Producto/Cuenta analítica para gastos/Nombre a mostrar',
       'Producto/Referencia interna', 'Producto/Proveedores/Nombre a mostrar',
       'Producto/Categoría de producto/Nombre a mostrar'],
      dtype='object')

### Renombramos las columnas para que sea más fácil su manipulación

In [58]:
precios_compra_2022.rename(columns={'External ID':'External_ID',
                              'Producto/Nombre':'Producto_nombre', 
                              'Coste':'Coste',
                             'Fecha':'Fecha', 
                              'Producto/Cuenta analítica para gastos/Nombre a mostrar':'Producto_nombre_publico',
                             'Producto/Referencia interna':'Producto_Refint', 
                              'Producto/Proveedores/Nombre a mostrar':'Producto_Proveedores_publico',
                              'Producto/Categoría de producto/Nombre a mostrar':'Producto_Categoría_publico'
                             }, inplace=True)

In [59]:
precios_compra_2022.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 173260 entries, 0 to 57557
Data columns (total 8 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   External_ID                   111268 non-null  object
 1   Producto_nombre               111268 non-null  object
 2   Coste                         111268 non-null  float64
 3   Fecha                         111268 non-null  datetime64[ns]
 4   Producto_nombre_publico       111268 non-null  object
 5   Producto_Refint               111268 non-null  float64
 6   Producto_Proveedores_publico  173260 non-null  object
 7   Producto_Categoría_publico    111268 non-null  object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 11.9+ MB

### Revisamos que si hay valores duplicados en los dataset de compra de productos para el mes de Diciembre de 2022.

In [61]:
precios_compra_2022[precios_compra_2022['Producto_nombre']=='Yogur desnatado vainilla Casa grande xanceda 2 x 125 g']

,External_ID,Producto_nombre,Coste,Fecha,Producto_nombre_publico,Producto_Refint,Producto_Proveedores_publico,Producto_Categoría_publico
1578,__export__.product_price_history_77812_27d7d769,Yogur desnatado vainilla Casa grande xanceda 2...,1.45,2022-06-21 10:47:34,Eco,1559.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
1627,__export__.product_price_history_77785_e20a0bfa,Yogur desnatado vainilla Casa grande xanceda 2...,1.45,2022-06-21 09:18:18,Eco,1559.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
4142,__export__.product_price_history_76286_874cf258,Yogur desnatado vainilla Casa grande xanceda 2...,1.45,2022-06-07 19:21:58,Eco,1559.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
6484,__export__.product_price_history_74757_1a0cf488,Yogur desnatado vainilla Casa grande xanceda 2...,1.45,2022-05-24 18:10:53,Eco,1559.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
8751,__export__.product_price_history_73353_6e898abd,Yogur desnatado vainilla Casa grande xanceda 2...,1.45,2022-05-10 12:14:32,Eco,1559.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
...,...,...,...,...,...,...,...,...
45168,__export__.product_price_history_27220_a88bb48a,Yogur desnatado vainilla Casa grande xanceda 2...,1.45,2021-03-24 09:31:04,Eco,1559.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
47545,__export__.product_price_history_25658_0963d74f,Yogur desnatado vainilla Casa grande xanceda 2...,1.45,2021-03-10 09:57:37,Eco,1559.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
48590,__export__.product_price_history_24956_2f82915f,Yogur desnatado vainilla Casa grande xanceda 2...,1.45,2021-03-02 12:11:16,Eco,1559.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
50411,__export__.product_price_history_23664_d513e609,Yogur desnatado vainilla Casa grande xanceda 2...,1.45,2021-02-17 10:48:40,Eco,1559.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
52632,__export__.product_price_history_20750_5ef29dee,Yogur desnatado vainilla Casa grande xanceda 2...,1.45,2021-02-04 14:38:32,Eco,1559.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."